<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uksusoff.rock63"
    android:installLocation="preferExternal"
    android:versionCode="31"
    android:versionName="2.1.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"> <!-- DEBUG -->
        <activity
            android:name=".ui.NewsListActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.EventsListActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.NewsDetailActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.EventDetailActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RadioPlayerActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SettingsActivity_"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />

        <service
            android:name=".services.RadioPlayingService_"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.uksusoff.rock63.ACTION_PLAY" />
                <action android:name="com.uksusoff.rock63.ACTION_PAUSE" />
                <action android:name="com.uksusoff.rock63.ACTION_STOP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

    </application>

</manifest>